.container
{
    border:10px black;
}


.Jeanne
{
    border: 5px black;
}

.Martine
{
    border: 5px black;
}

.Claude
{
    border: 5px black;
}

.containerMiddle
{

}

.profPicture
{

}

.Texts
{

}

.changeStyle
{

}

.containerBot
{

}

.Message
{

}

.cSuper
{

}

